body {
    padding: 10px;
}

.square-image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.square-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: white;
}

a:hover {
    color: lightblue
}