{% extends 'auctions/layout.html' %}
{% block body %}
    {% if listing.winner %} 
        <h1> WINNER: {{ listing.winner }} with a bid of {{ listing.current_price }} </h1>
        <h2>THIS ITEM HAS BEEN SOLD</h2>
    {% endif %}
    <h2>{{ listing.title }}</h2>
    <div>
        <p>{{ listing.description }}</p>
        <img src="{{ listing.image }}">
        <h3>${{ listing.current_price }}</h3>
        <h5>{{ listing.category }}</h5>
    </div>
    <form action="/listing/{{ listing.id }}" method="POST">
        {% csrf_token %}
        <input type="submit" name="watchlist" value="Add to Watchlist">
    </form>
    {% if listing.owner == request.user %}
        <form action="/listing/{{ listing.id }}" method="POST">
            {% csrf_token %}
            <input type="submit" name="close" value="Close Listing">
        </form>
    {% else %}
        <form action="/listing/{{ listing.id }}" method="POST">
            {% csrf_token %}
            {{ bidForm }}
            <input type="submit" name="bidButton" value="Submit Bid">
        </form>
    {% endif %}

    <br>
    Add Comments Here:
    <form action="/listing/{{ listing.id }}" method="POST">
        {% csrf_token %}
        {{ commentForm }}
    </form>

    {% for comment in comments %}
    <div>
        <div width="25%">
            <strong>{{ comment.user.username }}</strong>
        </div>
        <div>
           {{ comment.text }}
        </div>
    </div>
    {% endfor %}
{% endblock %}